<h1>Lotería</h1>
<form [formGroup]="form" (ngSubmit)="solicitar()">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-4">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">sorteos: </span>
                    <input formControlName="sorteos" type="number" max="99" min="1" class="form-control" placeholder="Número de sorteos"
                        aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-4">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Options</label>
                    <select formControlName="loteria" class="form-select" id="inputGroupSelect01">
                        <option selected value="Bogotá">Bogotá</option>
                        <option value="Cundinamarca">Cundinamarca</option>
                        <option value="Santander">Santander</option>
                        <option value="Valle">Valle</option>
                    </select>
                </div>
            </div>
            <div class="col-4 centrar">
                <button [disabled]="this.form.invalid" type="submit" class="btn btn-info">
                    Generar
                </button>
            </div>
        </div>
    </div>
</form>