<div class="centrar">
    <h2>Solicitud por cantidad de soteos y única fecha</h2>
    <button routerLink="/" class="btn btn-primary">
        volver
    </button>
</div>
<form [formGroup]="form" (ngSubmit)="solicitar()">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">sorteos: </span>
                    <input formControlName="numeroSorteos" type="number" max="999" min="1" class="form-control"
                        placeholder="Número de sorteos" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-4">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Options</label>
                    <select formControlName="nombreLoteria" class="form-select" id="inputGroupSelect01">
                        <option value="Bogotá">Bogotá</option>
                        <option value="Boyacá">Boyacá</option>
                        <option value="Cauca">Cauca</option>
                        <option value="Cruz Roja">Cruz Roja</option>
                        <option value="Cundinamarca">Cundinamarca</option>
                        <option value="Huila">Huila</option>
                        <option value="Manizales">Manizales</option>
                        <option value="Medellín">Medellín</option>
                        <option value="Meta">Meta</option>
                        <option value="Quindio">Quindío</option>
                        <option value="Risaralda">Risaralda</option>
                        <option value="Santander">Santander</option>
                        <option value="Tolima">Tolima</option>
                        <option value="Valle">Valle</option>
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">fecha: </span>
                    <input formControlName="fecha" type="date" class="form-control" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-2">
                <button [disabled]="this.form.invalid" type="submit" class="btn btn-info">
                    Generar
                </button>
            </div>
        </div>
    </div>
</form>

<!-- <div>{{result | json}}</div> -->

<div class="contenedor" *ngIf="result.length>0">
    <h3>Resultado de los {{result.length}} sorteos</h3>
    <table class="table table-hover">
        <thead class="table-dark sticky-header">
            <tr>
                <th></th>
                <th>Lotería</th>
                <th>Fecha</th>
                <th>1a cifra</th>
                <th>2a cifra</th>
                <th>3a cifra</th>
                <th>4a cifra</th>
                <th>Pleno</th>
                <th>Ordenado</th>
                <th>Pleno 3 cifras</th>
                <th>Ordenado 3 cifras</th>
                <th>En 4 cifras repite 2 cifras</th>
                <th>En 4 cifras repite 3 cifras</th>
                <th>En 4 cifras repite 4 cifras</th>
                <th>En 3 cifras repite 2 cifras</th>
                <th>En 3 cifras repite 3 cifras</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dat of result, let i = index">
                <td>{{i+1}}</td>
                <td>{{dat.nombreLoteria}}</td>
                <td>{{dat.fecha | date:'shortDate'}}</td>
                <td>{{dat.primeraCifra}}</td>
                <td>{{dat.segundaCifra}}</td>
                <td>{{dat.terceraCifra}}</td>
                <td>{{dat.cuartaCifra}}</td>
                <td>{{dat.pleno}}</td>
                <td>{{dat.ordenado}}</td>
                <td>{{dat.pleno3Cifras}}</td>
                <td>{{dat.ordenado3Cifras}}</td>
                <td>{{dat.dosCifras}}</td>
                <td>{{dat.tresCifras}}</td>
                <td>{{dat.cuatroCifras}}</td>
                <td>{{dat.dosCifras3}}</td>
                <td>{{dat.tresCifras3}}</td>
            </tr>
        </tbody>
    </table>
</div>