<div class="contenedor" *ngIf="result.length>0">

    <h3>Por las fechas seleccionadas se generaron {{result.length}} sorteos</h3>
    <table class="table table-hover">
        <thead class="table-dark sticky-header">
            <tr>
                <th colspan="3"></th>
                <th colspan="2">Lunes</th>
                <th colspan="2">Martes</th>
                <th colspan="3">Miercoles</th>
                <th colspan="2">Jueves</th>
                <th colspan="3">Viernes</th>
                <th colspan="2">Sábado</th>
            </tr>
            <tr>
                <th></th>
                <th>Semana</th>
                <th>Periodo</th>
                <th>Cundinamarca</th>
                <th>Tolima</th>
                <th>Cruz Roja</th>
                <th>Huila</th>
                <th>Manizales</th>
                <th>Meta</th>
                <th>Valle</th>
                <th>Bogotá</th>
                <th>Quindío</th>
                <th>Medellín</th>
                <th>Risaralda</th>
                <th>Santander</th>
                <th>Boyacá</th>
                <th>Cauca</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dat of result, let i = index">
                <td>{{i+1}}</td>
                <td>{{dat.semana}}</td>
                <td>{{dat.periodo}}</td>
                <td (click)="generarMetodoColumna(dat.cundinamarca.pleno, dat.cundinamarca.nombreLoteria, dat)"
                    class="puntero">{{dat.cundinamarca.pleno}}</td>
                <td (click)="generarMetodoColumna(dat.tolima.pleno, dat.tolima.nombreLoteria, dat)" class="puntero">
                    {{dat.tolima.pleno}}</td>
                <td (click)="generarMetodoColumna(dat.cruzRoja.pleno, dat.cruzRoja.nombreLoteria, dat)" class="puntero">
                    {{dat.cruzRoja.pleno}}</td>
                <td (click)="generarMetodoColumna(dat.huila.pleno, dat.huila.nombreLoteria, dat)" class="puntero">
                    {{dat.huila.pleno}}</td>
                <td (click)="generarMetodoColumna(dat.manizales.pleno, dat.manizales.nombreLoteria, dat)"
                    class="puntero">{{dat.manizales.pleno}}</td>
                <td (click)="generarMetodoColumna(dat.meta.pleno, dat.meta.nombreLoteria, dat)" class="puntero">
                    {{dat.meta.pleno}}</td>
                <td (click)="generarMetodoColumna(dat.valle.pleno, dat.valle.nombreLoteria, dat)" class="puntero">
                    {{dat.valle.pleno}}</td>
                <td (click)="generarMetodoColumna(dat.bogota.pleno, dat.bogota.nombreLoteria, dat)" class="puntero">
                    {{dat.bogota.pleno}}</td>
                <td (click)="generarMetodoColumna(dat.quindio.pleno, dat.quindio.nombreLoteria, dat)" class="puntero">
                    {{dat.quindio.pleno}}</td>
                <td (click)="generarMetodoColumna(dat.medellin.pleno, dat.medellin.nombreLoteria, dat)" class="puntero">
                    {{dat.medellin.pleno}}</td>
                <td (click)="generarMetodoColumna(dat.risaralda.pleno, dat.risaralda.nombreLoteria, dat)"
                    class="puntero">{{dat.risaralda.pleno}}</td>
                <td (click)="generarMetodoColumna(dat.santander.pleno, dat.santander.nombreLoteria, dat)"
                    class="puntero">{{dat.santander.pleno}}</td>
                <td (click)="generarMetodoColumna(dat.boyaca.pleno, dat.boyaca.nombreLoteria, dat)" class="puntero">
                    {{dat.boyaca.pleno}}</td>
                <td (click)="generarMetodoColumna(dat.cauca.pleno, dat.cauca.nombreLoteria, dat)" class="puntero">
                    {{dat.cauca.pleno}}</td>
            </tr>
        </tbody>
    </table>
</div>