<div style="display: flex;">
    <div class="centrarCard">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <h3>Pleno:{{resultadoSemana.pleno}}</h3>
                resultados según método de la columna del pleno de la lotería de Bogotá:
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let date of result, let i = index">
                    {{date}}
                </li>
            </ul>
        </div>
    </div>
    <div class="centrarCard">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <h3>Resultados generales</h3>
                Todos los demás resultados de las loterías de la semana<b>{{resultadoSemana.resultadoSemana.semana}}</b>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let date of numeros">
                    {{date}}
                </li>
            </ul>
        </div>
    </div>
</div>