<div class="centrarCard">
    <div class="card" style="width: 100%;">
        <div class="card-body">
            <h3>Pleno: {{resultadoSemana.pleno}}<br> de la lotería {{resultadoSemana.loteria}}</h3>
            resultados según método de la columna del pleno seleccionado:
            <table class="table">
                <tbody>
                    <tr>
                        <th>Pleno</th>
                        <th>Pleno 0rdenado</th>
                        <th>Pleno 3 cifras</th>
                        <th>Pleno 3 cifras ordenado</th>
                    </tr>
                    <tr *ngFor="let date of result, let i = index">
                        <td>{{date.generado4Cifras}}</td>
                        <td>{{date.ordenadoGenerado4Cifras}}</td>
                        <td>{{date.generado3Cifras}}</td>
                        <td>{{date.ordenadoGenerado3Cifras}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="contenedor">
    <div class="card" style="width: 100%;">
        <div class="card-body">
            <h3>Resultados generales</h3>
            Todos los demás resultados de las loterías de la semana <b>{{resultadoSemana.resultadoSemana.semana}}</b>
            <table class="table">
                <tbody>
                    <tr>
                        <th *ngIf="dia!=4">{{resultadoSemana.resultadoSemana.bogota.nombreLoteria}}</th>
                        <th *ngIf="dia!=6">{{resultadoSemana.resultadoSemana.boyaca.nombreLoteria}}</th>
                        <th *ngIf="dia!=6">{{resultadoSemana.resultadoSemana.cauca.nombreLoteria}}</th>
                        <th *ngIf="dia!=2">{{resultadoSemana.resultadoSemana.cruzRoja.nombreLoteria}}</th>
                        <th *ngIf="dia!=1">{{resultadoSemana.resultadoSemana.cundinamarca.nombreLoteria}}</th>
                        <th *ngIf="dia!=2">{{resultadoSemana.resultadoSemana.huila.nombreLoteria}}</th>
                        <th *ngIf="dia!=3">{{resultadoSemana.resultadoSemana.manizales.nombreLoteria}}</th>
                        <th *ngIf="dia!=5">{{resultadoSemana.resultadoSemana.medellin.nombreLoteria}}</th>
                        <th *ngIf="dia!=3">{{resultadoSemana.resultadoSemana.meta.nombreLoteria}}</th>
                        <th *ngIf="dia!=4">{{resultadoSemana.resultadoSemana.quindio.nombreLoteria}}</th>
                        <th *ngIf="dia!=5">{{resultadoSemana.resultadoSemana.risaralda.nombreLoteria}}</th>
                        <th *ngIf="dia!=5">{{resultadoSemana.resultadoSemana.santander.nombreLoteria}}</th>
                        <th *ngIf="dia!=1">{{resultadoSemana.resultadoSemana.tolima.nombreLoteria}}</th>
                        <th *ngIf="dia!=3">{{resultadoSemana.resultadoSemana.valle.nombreLoteria}}</th>
                    </tr>
                    <tr>
                        <td *ngIf="dia!=4">{{resultadoSemana.resultadoSemana.bogota.pleno}}</td>
                        <td *ngIf="dia!=6">{{resultadoSemana.resultadoSemana.boyaca.pleno}}</td>
                        <td *ngIf="dia!=6">{{resultadoSemana.resultadoSemana.cauca.pleno}}</td>
                        <td *ngIf="dia!=2">{{resultadoSemana.resultadoSemana.cruzRoja.pleno}}</td>
                        <td *ngIf="dia!=1">{{resultadoSemana.resultadoSemana.cundinamarca.pleno}}</td>
                        <td *ngIf="dia!=2">{{resultadoSemana.resultadoSemana.huila.pleno}}</td>
                        <td *ngIf="dia!=3">{{resultadoSemana.resultadoSemana.manizales.pleno}}</td>
                        <td *ngIf="dia!=5">{{resultadoSemana.resultadoSemana.medellin.pleno}}</td>
                        <td *ngIf="dia!=3">{{resultadoSemana.resultadoSemana.meta.pleno}}</td>
                        <td *ngIf="dia!=4">{{resultadoSemana.resultadoSemana.quindio.pleno}}</td>
                        <td *ngIf="dia!=5">{{resultadoSemana.resultadoSemana.risaralda.pleno}}</td>
                        <td *ngIf="dia!=5">{{resultadoSemana.resultadoSemana.santander.pleno}}</td>
                        <td *ngIf="dia!=1">{{resultadoSemana.resultadoSemana.tolima.pleno}}</td>
                        <td *ngIf="dia!=3">{{resultadoSemana.resultadoSemana.valle.pleno}}</td>
                    </tr>
                    <tr>
                        <td *ngIf="dia!=4">{{resultadoSemana.resultadoSemana.bogota.pleno3Cifras}}</td>
                        <td *ngIf="dia!=6">{{resultadoSemana.resultadoSemana.boyaca.pleno3Cifras}}</td>
                        <td *ngIf="dia!=6">{{resultadoSemana.resultadoSemana.cauca.pleno3Cifras}}</td>
                        <td *ngIf="dia!=2">{{resultadoSemana.resultadoSemana.cruzRoja.pleno3Cifras}}</td>
                        <td *ngIf="dia!=1">{{resultadoSemana.resultadoSemana.cundinamarca.pleno3Cifras}}</td>
                        <td *ngIf="dia!=2">{{resultadoSemana.resultadoSemana.huila.pleno3Cifras}}</td>
                        <td *ngIf="dia!=3">{{resultadoSemana.resultadoSemana.manizales.pleno3Cifras}}</td>
                        <td *ngIf="dia!=5">{{resultadoSemana.resultadoSemana.medellin.pleno3Cifras}}</td>
                        <td *ngIf="dia!=3">{{resultadoSemana.resultadoSemana.meta.pleno3Cifras}}</td>
                        <td *ngIf="dia!=4">{{resultadoSemana.resultadoSemana.quindio.pleno3Cifras}}</td>
                        <td *ngIf="dia!=5">{{resultadoSemana.resultadoSemana.risaralda.pleno3Cifras}}</td>
                        <td *ngIf="dia!=5">{{resultadoSemana.resultadoSemana.santander.pleno3Cifras}}</td>
                        <td *ngIf="dia!=1">{{resultadoSemana.resultadoSemana.tolima.pleno3Cifras}}</td>
                        <td *ngIf="dia!=3">{{resultadoSemana.resultadoSemana.valle.pleno3Cifras}}</td>
                    </tr>
                </tbody>
            </table>
            <button (click)="volverAListaCompleta()">
                volver
            </button>
        </div>
    </div>
</div>