/* You can add global styles to this file, and also import other style files */
body {
    background: #03001e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
    max-width: 600px;
    margin: 50px auto;
    background-color: aqua;
    color: rgb(173, 14, 179);
    align-items: center;
    text-align: center;
    font-size: 70px;
}

h2 {
    color: rgb(173, 14, 179);
    text-align: center;
    font-size: 40px;
}

.centrar {
    background-color: aqua;
    align-items: center;
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
}