/* You can add global styles to this file, and also import other style files */
body {
    background: #03001e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@keyframes slidein {
    from {
        margin-left: 70%;
        width: 100%
    }

    to {
        margin-left: 10%;
        width: 100%;
    }
}

.titulo {
    width: 100%;
    background-color: white;
    margin-bottom: -10px;
    position: fixed;
    top: 0;
    z-index: 10;
}

h1 {
    color: rgb(173, 14, 179);
    font-size: 110px;
    animation: 20s infinite alternate slidein;
}

h2 {
    color: rgb(173, 14, 179);
    text-align: center;
    font-size: 40px;
}

h3 {
    color: rgb(173, 14, 179);
    text-align: center;
    font-size: 30px;
}

.centrar {
    background-color: aqua;
    align-items: center;
    text-align: end;
    max-width: 600px;
    margin: 20px auto;
    padding: 5px;
}

.contenedor {
    margin: 0 auto;
    max-height: 400px;
    /* Altura del div */
    overflow: auto;
    /* Scroll interno */
    margin-bottom: 100px;
    background-color: azure;
    width: 90%;
    padding: 0px 10px 10px 10px;
}

.centrarCard {
    background-color: white;
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
    background-color: azure;
}

.puntero {
    cursor: pointer;
}

.puntero:hover {
    color: rgb(0, 68, 255);
    font-weight: 500;
}

.derecha {
    align-items: end;
    margin-bottom: 10px;
}

.sticky-header {
    position: sticky;
    top: 0;
    background-color: #fff;
}

.metodo {
    padding: 20px;
}

.apuesta {
    padding: 20px;
    width: 350px;
    height: 200px;
}

.espacio {
    padding: 10px;
}

table {
    text-align: center;
}

/* animacion de fondo */

#home {
    clip-path: url(#cache);
}

#red {
    fill: none;
    opacity: 0.15;
    stroke: #CE1B5F;
    stroke-width: 12;
    stroke-miterlimit: 10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#blue {
    fill: none;
    opacity: 0.15;
    stroke: #06A1C4;
    stroke-width: 12;
    stroke-miterlimit: 10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#light-blue {
    fill: none;
    opacity: 0.15;
    stroke: #06A1C4;
    stroke-width: 6;
    stroke-miterlimit: 10;
    stroke-dasharray: 200;
    stroke-dashoffset: 800;
    animation: draw 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes show {
    0% {
        opacity: 0.15;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.15;
    }
}